html, body {
  height: 100%;
}

body {
  display: flex;
}

.main {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.copyright-username:hover {
  color: hotpink !important;
  border-bottom: 1px dotted hotpink;
  transition: ease-in-out 400ms;
}