/* Begin - Reset Default */

/* body {
    margin: 0;
    padding: 0;
} */

/* End - Reset Default */


/* Begin - Testing Work */

/* #header, #main, #footer {
    border: 1px dashed #f00;
} */

/* End - Testing Work */


/* Begin - Header Part */

/* End - Header Part */


/* Begin - Main Part */

    body {
        height: 100vh;
    }

    /* Begin: Main Container */
        .m-navbar {
            height: 8.5vh;
            /* background-color: #414548; */
        }
        .profile-overview {
            min-width: 24vw;
            max-width: 28vw;
            height: 100%;
            /* background-color: #2e3133; */
            background-color: #313638;
        }
        .full-profile {
            background-color: #313638;
        }
        .m-repo-title {
            font-size: 1.2em;
        }
    /* End: Main Container */

/* End - Main Part */


/* Begin - Footer Part */

/* End - Footer Part */