/* Begin - Reset Default */

/* body {
    margin: 0;
    padding: 0;
} */

/* End - Reset Default */


/* Begin - Testing Work */

/* * {
    border: 1px dashed #fff;
} */

/* End - Testing Work */


/* Begin - Header Part */

/* End - Header Part */


/* Begin - Main Part */

    /* Begin: Main Container */
        .main-container {
            background-color: #313638;
        }
        .profile-overview {
            min-width: 24vw;
            height: 100%;
        }
        @media screen and (min-width: 768px) {   
            .m-navbar {
                height: 8.5vh;
            }
            .main-container {
                height: 91vh;
            }
        }
        @media screen and (max-width: 768px) {
            .m-navbar {
                padding: 1em;
            }
            .m-navbar > * {
                border: 1px solid #fff;
                width: 100%;
                margin: 0.5em 0;
                text-align: center;
            }
            .profile-overview {
                border: unset !important;
            }
            .full-profile .card:last-child {
                margin-bottom: 1.5em !important;
            }
        }
        @media screen and (max-width: 575px) {
            .profile-overview {
                padding: unset !important;
                margin: 1em 0;
                width: 100%;
            }
            .full-profile {
                padding: unset !important;
            }
            .full-profile .card {
                border: unset;
                border-radius: unset;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
            }
        }
    /* End: Main Container */

/* End - Main Part */


/* Begin - Footer Part */

/* End - Footer Part */